
#__xmlview0--SF3_TABLE {
    position: sticky;
    bottom: 0;
}
#__xmlview0--SF3_TABLE-listUl thead {
    visibility: collapse;
}
.sapMListTblCellNoData {
    display: none;
}
#__xmlview0--SF3_TABLE td span {
    font-weight: bold;
}

tr:has(+ tr[role]) td:nth-child(2) span {
    font-weight: bold;
}

tr:last-child td:nth-child(2) span {
    font-weight: bold;
}